@import url("https://fonts.googleapis.com/css?family=Merriweather|PT+Serif");
html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

.App {
  font-family: "Merriweather", serif;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#ce697c), color-stop(#ee8a96), to(#9e3e5a));
  background: linear-gradient(to bottom right, #ce697c, #ee8a96, #9e3e5a);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .App {
    height: 100%;
  }
}

.App .container {
  background-color: #fff;
  display: block;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 1px 22px 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 22px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (min-width: 600px) {
  .App .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1800px) {
  .App .container {
    margin: 0 190px;
  }
}

@media (max-width: 1200px) {
  .App .container {
    margin: 0 110px;
  }
}

@media (max-width: 900px) {
  .App .container {
    margin: 0 60px;
  }
}

@media (max-width: 600px) {
  .App .container {
    margin: 50px 50px;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'story  choose';
  }
}

.App .container-choose, .App .container-story {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.App .container-story {
  background: -webkit-gradient(linear, left top, right bottom, from(#4fc1b7), color-stop(#62d5c4), to(#6de0ca));
  background: linear-gradient(to bottom right, #4fc1b7, #62d5c4, #6de0ca);
}

@media (max-width: 600px) {
  .App .container-story {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.App .container-choose {
  background: -webkit-gradient(linear, left top, right bottom, from(#374a62), color-stop(#2f3f53), to(#222f40));
  background: linear-gradient(to bottom right, #374a62, #2f3f53, #222f40);
  padding: 55px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .App .container-choose {
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.choose-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95%;
  width: 95%;
  position: relative;
}

.choose-container .capsule {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  border-radius: 15px;
}

.choose-container .capsule * {
  font-size: 2.5rem;
  padding: 0.3rem 0.9rem;
  display: inline-block;
  font-size: 0.7rem;
}

.choose-container .capsule .signin {
  font-size: 1.5rem;
  border-radius: 15px 0 0 15px;
  background-color: #222f40;
  color: #fff;
}

.choose-container .capsule .signup {
  font-size: 1.5rem;
  border-radius: 0 15px 15px 0;
  background-color: #222f40;
  color: #fff;
}

.choose-container .capsule .current {
  color: #222f40;
  background-color: #4fc1b7;
}

.choose-container .main {
  margin: 3.5rem 1.96rem 3.5rem 2.2rem;
}

.choose-container .main h3 {
  font-size: 1.8rem;
  color: #7e8fa7;
  font-family: "PT Serif", serif;
  margin-bottom: 3rem;
}

.choose-container .main h3 * {
  padding: 3px;
}

.choose-container .main h3 .current {
  color: #fff;
  font-weight: 10;
  font-size: 2rem;
  border-bottom: 3px solid #62d5c4;
}

.signupcomponent {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
}

.signupcomponent label {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 0.3rem;
}

.signupcomponent input {
  border: none;
  outline: 0;
  background-color: transparent;
  margin-bottom: 2.5rem;
  color: #fff;
  font-size: 1.6rem;
  padding: 0.5rem;
  border-bottom: 1px solid #797575;
}

.signupcomponent .important {
  display: inline;
}

.signupcomponent .important input {
  display: inline;
  color: #4fc1b7;
  border: 0;
  outline: none;
}

.signupcomponent .important p {
  display: inline;
  font-size: 1.1rem;
  padding: 2px;
  color: #7e8fa7;
}

.signupcomponent .important p .terms {
  color: #fff;
  padding-left: 1px;
  border-bottom: 1px solid #62d5c4;
}

.signupcomponent .signupcomponent-buttons .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#62d5c4), to(#4fc1b7));
  background: linear-gradient(#62d5c4, #4fc1b7);
  outline: 0;
  display: inline-block;
  border: 0;
  border-radius: 25px;
  font-size: 1.7rem;
  padding: 0 1.8rem;
}

.signupcomponent .signupcomponent-buttons p {
  display: inline;
  font-size: 1.31rem;
  padding: 2px;
  color: #7e8fa7;
  margin: 0;
}

@media (max-width: 600px) {
  .signupcomponent .signupcomponent-buttons p {
    font-size: 1rem;
  }
}

.signupcomponent .signupcomponent-buttons p .terms {
  color: #fff;
  margin: 8px;
  padding-left: 1px;
  border-bottom: 1px solid #62d5c4;
}

.signincomponent {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
}

.signincomponent label {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 0.3rem;
}

.signincomponent input {
  border: none;
  outline: 0;
  background-color: transparent;
  margin-bottom: 2.5rem;
  color: #fff;
  font-size: 1.6rem;
  padding: 0.5rem;
  border-bottom: 1px solid #797575;
}

.signincomponent .important {
  display: inline;
}

.signincomponent .important input {
  display: inline;
  color: #4fc1b7;
  border: 0;
  outline: none;
}

.signincomponent .important p {
  display: inline;
  font-size: 1.1rem;
  padding: 2px;
  color: #7e8fa7;
}

.signincomponent .important p .terms {
  color: #fff;
  padding-left: 1px;
  border-bottom: 1px solid #62d5c4;
}

.signincomponent .signupcomponent-buttons .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#62d5c4), to(#4fc1b7));
  background: linear-gradient(#62d5c4, #4fc1b7);
  outline: 0;
  display: inline-block;
  border: 0;
  border-radius: 25px;
  font-size: 1.7rem;
  padding: 0 1.8rem;
}

.signincomponent .signupcomponent-buttons p {
  color: #7e8fa7;
  border-bottom: 1px solid #62d5c4;
  padding: 0;
  font-size: 1.3rem;
  margin: 8px;
  display: inline-block;
}

.container-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  position: relative;
}

.container-story .logo {
  position: absolute;
  top: 0.6rem;
  left: 0.9rem;
}

.container-story .logo img {
  height: 50px;
  width: auto;
}

.container-story h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-top: 10.8rem;
  color: rgba(255, 255, 255, 0.815);
  padding: 1.5rem;
}

.container-story .image img {
  height: 200px;
  width: auto;
}

.container-story .rounds {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-top: 2rem;
}

.container-story .rounds .round {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.main-choose {
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.main-choose * {
  -webkit-transition: all 6s ease-in-out;
  transition: all 6s ease-in-out;
  opacity: 1;
}
/*# sourceMappingURL=App.css.map */