@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400");
.App {
  background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;

  .container {
    background-color: #ffffff;
    margin: 50px 150px;
    display: block;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    box-shadow: 0 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
  }
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .clip {
    background-color: #00cd93;
    width: 450px;
    height: 450px;
    margin: 0;
    padding: 0;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    display: block;
    position: relative;
    outline: 0;
  }
  img {
    width: 450px;
    height: 450px;

    display: block;
    // transform: translateX(-450px);
    position: absolute;
  }
}
.desc {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
  h1 {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 4rem;
  }
  p {
    margin-bottom: 35px;
    font-size: 1.5rem;
  }
  h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba($color: #000000, $alpha: 0.5);
  }
  .input-container {
    input {
      padding: 8px;
      display: inline-block;
    }
    button {
      padding: 10px 12px;
      background-color: #00cd93;
      color: #fff;
      outline: none;
      border: none;
      display: inline-block;
      box-shadow: 0 1px 1px 1px rgba($color: #000000, $alpha: 0.2);
    }
  }
}
.logos {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
